{{intlGet "fieldProperties.name"}}|
{{~intlGet "fieldProperties.type"}}|
{{~intlGet "fieldProperties.title"}}|
{{~intlGet "fieldProperties.example"}}|Contraintes
-|-|-|-|-
{{#each fields}}
{{> schemaField }}

{{/each}}